// Authntication Area Css
.login-area {
    .col-form-label {
        color: #212529;
        font-size: 13px;
        margin-bottom: -5px;
        font-weight: 600;
        @include display-flex(flex);
        @include justify-content-between;
        @include align-items-center;

    }

    .col-form-label-2 {
        color: #212529;
        font-size: 13px;
        margin-bottom: -5px;
        font-weight: 600;
        width: 100%;
    }

    .login-tab-area {
        .nav {
            @include justify-content-center;
        }

        .nav-pills .nav-link {
            color: $heading;
            font-weight: 600;
            font-size: 18px;
        }

        .nav-pills .nav-link.active {
            color: $second;
            background-color: transparent;
            border-bottom: 2px solid $second;
            text-align: center;
            border-radius: 0;
        }
    }

    .modal-title {
        font-size: 30px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 40px;
    }

    .form-control {
        padding: 10px 0;
        font-size: 16px;
        font-weight: 500;
        color: $heading;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border: none;
        border-bottom: 1px solid $heading;
        border-radius: 0;
    }

    .form-control:focus {
        color: #212529;
        background-color: #fff;
        border-color: $primary;
        box-shadow: none;
    }

    .login-submit {
        background-color: $primary;
        display: block;
        width: 100%;
        margin-top: 30px;
        border: none;
        padding: 10px;
        font-size: 16px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        border-radius: 22px;
        @include transition-duration(500ms);

        &:hover {
            background-color: $second;
        }

    }

    .modal-body {
        padding: 60px 30px;
    }

    .forgot-btn {
        text-align: right;
    }

    .modal {
        background-color: rgba(17, 17, 17, 0.15);
    }

    .other-sign-up-area {
        p {
            font-size: 16px;
            text-align: center;
            margin-bottom: 20px;
            margin-top: 40px;
        }

        .other-sign-list {
            text-align: center;

            li {
                display: inline-block;
                margin: 0 5px;

                a {
                    img {
                        width: 26px;
                    }
                }
            }
        }

        .already-account {
            margin-bottom: 0;
        }
    }

    .login-tab-area {
        width: 100%;
    }
}

.mb-30 {
    margin-bottom: 30px;
}