/* :: Buttons CSS */

.ptc-btn {
    position: relative;
    z-index: 9 !important;
    text-align: center;
    line-height: 50px;
    min-width: 150px;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.6px;
    padding: 0 30px;
}
.ptc-btn {
	line-height: 56px;
	text-align: center;
	display: inline-block;
	z-index: 1;
	opacity: 1;
	background-image: none;
	bottom: 0;
	border-radius: 3px;
	border: 2px solid #ff8503;
	background-color: transparent;
	-webkit-transition: 0.3s linear;
	transition: 0.3s linear;
	text-transform: uppercase;
}

.ptc-btn:hover {
    -webkit-transform: skewX(-16deg);
    transform: skewX(-16deg);
    background: $primary;
}

.ptc-btn:hover {
    color: #fff;
}