// Faq Area Css

.faq-content-area {

    .accordion-item {
        background-color: transparent;
    }

    .accordion-button:not(.collapsed) {
        color: #fff;
        background-color: $second;
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
    }

    .accordion-button {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 20px;
        font-size: 20px;


    }

    .accordion-body {
        @include box-shadow(4px 12px 17px 5px rgba(255, 255, 255, 0.15));

        p {
            font-size: 17px;
            margin-bottom: 0;
        }

    }
}