// Responsive Css

@media (min-width: 992px) and (max-width: 1119px) {
    .site-menu-main .nav-link-item {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 12px;
        padding-right: 12px;
        font-size: 17px;
    }

    .brand-logo a img {
        width: 100px;
    }

    .site-menu-main .nav-link-item:hover {
        color: #FF0000;
    }

    .sub-menu li .nav-link-item:hover {
        color: #FF0000;
    }

    .single-add-area .earn-image {
        position: relative;
        flex: 0 0 100px;
        width: 100px;
        max-width: 100px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .site-menu-main>li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    }

    .site-menu-main>li>a {
        color: rgba(255, 255, 255, 0.80);
    }

    .btn-group.lang {
        height: 60px;
        padding: 0;
        text-align: center;
    }

    .site-menu-main>li {
        text-align: center;
    }

    .sign-btn {
        height: 60px;
    }

    .sub-menu li .nav-link-item {
        padding: 0 15px !important;
    }

    .sub-menu li .nav-link-item {
        height: 60px;
        line-height: 60px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    }

    .sub-menu li .nav-link-item:hover {
        color: $primary;
    }

    .about-us-text h2 {
        font-size: 46px;
    }

    .single-add-area .earn-image {
        position: relative;
        flex: 0 0 100px;
        width: 100px;
        max-width: 100px;
    }

    .recent-post-text h5 a {
        font-size: 22px;
    }

    .recent-post-img {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
        flex: 0 0 100px;
        width: 100px;
        max-width: 100px;
        margin-right: 20px;
    }

    .nav-link-item:hover {
        color: $second !important;
    }

}

@media (min-width: 320px) and (max-width: 767px) {
    .site-menu-main>li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    }

    .brand-logo a img {
        width: 100px;
    }

    .site-menu-main>li>a {
        color: rgba(255, 255, 255, 0.80);
    }

    .btn-group.lang {
        height: 60px;
        padding: 0;
        text-align: center;
    }

    .site-menu-main>li {
        text-align: center;
    }

    .sign-btn {
        height: 60px;
    }

    .sub-menu li .nav-link-item {
        padding: 0 15px !important;
    }

    .sub-menu li .nav-link-item {
        height: 60px;
        line-height: 60px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    }

    .sub-menu li .nav-link-item:hover {
        color: $primary;
    }

    .modal-content {
        width: 90%;
        margin: auto;
    }

    .modal-header {
        padding: 1rem 0;
    }

    .login-area .modal-title {
        font-size: 27px;
    }

    .about-us-text h2 {
        font-size: 34px;
    }

    .single-add-area .earn-image {
        width: 100%;
    }

    .single-add-area .earn-content-text {
        padding-left: 0;
        margin-top: 20px;
    }

    .single-add-area .earn-content-text h4 {
        color: #fff;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.6;
        margin-bottom: 15px;
    }

    .heading-title h3 {
        line-height: 1.5;
    }

    .client-image {
        margin-bottom: 30px;
    }

    .single-client-review-card .client-content-text .client-info h2 {
        font-size: 25px;
        line-height: 1.5;
        margin-bottom: 15px;
    }

    .pagination-area .page-link {
        padding: 10px 18px;
        font-size: 18px;
    }

    .blog-details-content .post-meta h2 {
        color: #fff;
        font-size: 27px;
        line-height: 1.5;
    }

    .single-comments-text {
        padding: 30px;
        padding-left: 15px;
        margin-left: 0;
        border-radius: 15px;
        margin-bottom: 30px;
        background-color: #0f0826;
        position: relative;
    }

    .comments-image {
        display: none;
    }

    .recent-post-img {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
        flex: 0 0 100px;
        width: 100px;
        max-width: 100px;
        margin-bottom: 20px;
    }

    .recent-post-text h5 a {
        font-size: 23px;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        line-height: 1.4;
        margin-bottom: 0;
    }

    .side-blog-title {
        font-size: 32px;
    }

    .recent-post-text span {
        font-size: 16px;
    }

    .single-recent-post {
        margin-bottom: 40px;
    }

    .sub-menu li .nav-link-item:hover {
        color: $second !important;
    }

    .main-content {
        position: relative;
        z-index: 1;
        padding: 20px 0;
    }

}


@media (min-width: 480px) and (max-width: 767px) {
    .welcome-area .welcome-text h2 {
        font-size: 46px;
        line-height: 1.3;
    }

    .about-us-text h2 {
        font-size: 40px;
    }

    .benefit-content-text h2 {
        font-size: 36px;
    }

    .benefit-content-text .benefit-list li {
        font-size: 18px;
    }

    .cta-area .cta-content-text h2 {
        font-size: 48px;
    }

    .heading-title h3 {
        font-size: 30px;
    }

    .blog-details-content .post-meta h2 {
        color: #fff;
        font-size: 36px;
    }

}

@media (min-width: 576px) and (max-width: 767px) {
    .footer-contact-area .footer-single-widget {
        text-align: left;
    }

    .footer-contact-area .footer-single-widget h4 {
        line-height: 1.4;
    }

    .heading-title h3 {
        font-size: 34px;
    }

    .single-add-area .earn-image {
        position: relative;
        flex: 0 0 150px;
        width: 150px;
        max-width: 150px;
        margin-right: 20px;
    }

    .blog-details-content .post-meta h2 {
        font-size: 44px;
    }

    .blog-ccom-title {
        font-size: 22px;
    }
     .main-content {
        position: relative;
        z-index: 1;
        padding: 20px 0 !important;
        padding-bottom: 0!important;
    }
}