// Heading Color
$heading: #212529;

$primary:#ff8503;

$second:#EC5A1F;

// Text Color
$text: #adadad;

$bg-gray: #f7f7f7;

// Text Dark
$text-dark: #161715;

// Text-2 Color
$text-2: #9293bc;

// Text-3 Color
$text-3: #111343;

// Text-3 Color
$text-4: #5d5e8d;

// Text Gray
$text-gray: #f7f8fb;

// Blue Background
$bg-blue:#151853;

// Blue Background
$bg-blue-2:#1f2371;

// White Color
$white: #ffffff;

// Dark Color
$dark: #333333;

// Dark-2 Color
$dark-2: #5f608e;

// Hover Color
$hover: #00bcd4;

// Secondary Color
$secondary: #8f8790;

// Dark 2 Color
$dark2: #0e2737;

// Border Color
$border: #eee;

// Border-2 Color
$border-2: #4c4f8d;

// Border-2 Color
$border-3: #444675;

// Border-4 Color
$border-4: #4d507d;

// Border-5 Color
$border-5: #3d3e66;

// Border-6 Color
$border-6: #414269;

// Border-7 Color
$border-7: #dbdcf1;

$background-color: #f2f4f8;

$primary-color: #2466fd;

$secondary-color: #8897aa;

$heading-color: #0c0c0c;

$text-color: #595959;

$border-color: #ebebeb;

$white-color: #ffffff;

$bg-secondary: #8897aa;

$bg-white-2: #f7f6f7;

$dark-text: #222222;

$dark-text-2: #343a40;

$green-color: #71c016;

$bg-gray: #eef5f9;

$danger-color: #f1536e;

$info-color: #3da5f4;

$white-color-2: #f1f1f1;

$warning-color: #fda006;

$gray-color: #777;

$blue-color: #007bff;

$text-gray: #b4b6b8;

$blue-2: #26a69a;

$purple-color: #6610f2;

$bg-dark: #282f3a;

$dark: #000000;

$bg-chok: #462f3f;

$pink-darken-4: #880e4f;

$bg-default: #2466fd;

$text-secondary: #26a69a;

$text-success-color: #5ed84f;

$bg-warning-color: #fdb901;

$red-darken-4: #b71c1c;

$bg-opacity-default-5: rgba(94, 37, 114, 0.50);

$bg-opacity-default-7: rgba(94, 37, 114, 0.70);

$bg-opacity-default-8: rgba(94, 37, 114, 0.80);

$green-opacity-8: rgba(114, 192, 44, 0.8);

$green-opacity-9: rgba(114, 192, 44, 0.9);

$green-opacity-5: rgba(40, 167, 69, 0.5);

$dark-opacity-5: 0px 0px 10px rgba(0, 0, 0, 0.5);

$dark-opacity-95: 0px 0px 10px rgba(0, 0, 0, 0.95);

$white-opacity-2: rgba(255, 255, 255, 0.3);

$white-opacity-5: rgba(255, 255, 255, 0.5);

$white-opacity-7: rgba(255, 255, 255, 0.70);